body {
  margin: 0;
  font-family: 'Segoe UI';
  background: linear-gradient(135deg, #020617, #0f172a);
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero span {
  color: #38bdf8;
}

/* BUTTONS */
.btn {
  padding: 12px 25px;
  margin: 10px;
  background: linear-gradient(45deg, #38bdf8, #6366f1);
  border-radius: 8px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

.btn.outline {
  background: transparent;
  border: 1px solid #38bdf8;
}

/* SECTION */
section {
  padding: 80px 20px;
  text-align: center;
}

/* SKILLS */
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: rgba(255,255,255,0.05);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* PROJECTS */
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  margin: 15px;
  width: 250px;
  border-radius: 10px;
  transition: 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 20px;
}
